<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FormOrder</title>
  <%- include('partials/navbarUser')%>
  <style>
    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: black;
      color: lightgray;
      text-align: center;
      overflow: hidden;
    }
  </style>
</head>

<body>
  <form action="" method="POST">
    <div class="form-group">
      <label for="dateTransaction">Date</label>
      <input type="text" class="form-control" name="dateTransaction" id="dateTransaction" readonly
        value="<%= new Date().toISOString().slice(0, 10); %>">
    </div>
    <div class="form-group">
      <label for="estimateDate">Estimate Date</label>
      <input type="text" class="form-control" name="estimateDate" id="estimateDate" readonly
        value="<%= new Date(new Date().setDate(new Date().getDate()+data.package.duration)).toISOString().slice(0, 10); %>">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" value="<%if(error!==null){%><%=data.name%><%}else {%><%=data.user.name%>><%}%>" readonly>
    </div>
    <div class="form-group">
      <label for="package">Package</label>
      <input type="text" class="form-control" name="package" value="<%=data.package.name%>" readonly>
      <input type="hidden" class="form-control" name="PackageId" value="<%=data.package.id%>">
    </div>
    <div class="form-group">
      <label for="price">Price per KG</label>
      <input type="text" class="form-control" name="price" value="<%=data.package.price%>" readonly>
    </div>
    <div class="form-group">
      <label for="totalWeight">Weight</label>
      <input type="number" class="form-control" name="totalWeight" min="1" max="20" onchange="total(this.value)">
    </div>
    <div class="form-group">
      <label for="totalPrice">Total</label>
      <input type="text" class="form-control" name="totalPrice" id="totalPrice" readonly>
    </div>
    <input type="hidden" class="form-control" name="UserId" value="<%if(error!==null){%><%=data.UserId%><%}else {%><%=data.user.id%><%}%>">
    <button type="submit" class="btn btn-dark" style="margin-left: 48%">Submit</button>
    <div class="footer">
      <p>© 2020 Drop N' Klin. All Rights Reserved</p>
    </div>
  </form>
  <script>
    function total(berat) {
      document.getElementById("totalPrice").value = `${berat * '<%=data.package.price%>'}`;
    }
  </script>
</body>

</html>