<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: black;
            color: lightgray;
            text-align: center;
        }
    </style>
    <%- include('partials/navbarAdmin')%>
</head>

<body>
    <div style="text-align: center">
        <a href="/admin/list/add"><button class="btn btn-dark" style="width: 400px; margin-top: 40px">ADD NEW
                PACKAGE</button></a>
    </div>
    <table class="table" style="margin-top: 40px" border="1">
        <thead class="thead thead-dark">
            <tr>
                <th>Package</th>
                <th>Image</th>
                <th>Price per KG</th>
                <th>Duration</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(i=> { %>
            <tr>
                <td><%=i.name%></td>
                <td><img src="/<%=i.urlIMG%>" style="width: 50px;"></td>
                <td><%=i.formatRp()%></td>
                <td><%=i.formatDay()%></td>
                <td>
                    <a href="/admin/list/edit/<%=i.id%>"><button class="btn btn-dark">Edit</button></a>
                    <a href="/admin/list/delete/<%=i.id%>" onclick="return confirm('Are you sure?')">
                        <button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <div class="footer">
        <p>© 2020 Drop N' Klin. All Rights Reserved</p>
    </div>
</body>

</html>